name: .NET CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
          include-prerelease: true

      - name: Restore
        run: dotnet restore TruKare.Reports.Tests/TruKare.Reports.Tests.csproj

      - name: Build
        run: |
          dotnet build TruKare.Reports/TruKare.Reports.csproj --configuration Release --no-restore
          dotnet build TruKare.Reports.Tests/TruKare.Reports.Tests.csproj --configuration Release --no-restore

      - name: Lint
        run: |
          dotnet tool install -g dotnet-format
          export PATH="$PATH:$HOME/.dotnet/tools"
          dotnet format TruKare.Reports/TruKare.Reports.csproj --verify-no-changes
          dotnet format TruKare.Reports.Tests/TruKare.Reports.Tests.csproj --verify-no-changes

      - name: Test
        run: dotnet test TruKare.Reports.Tests/TruKare.Reports.Tests.csproj --configuration Release --no-build
